.container{
    width: 50%;
    margin: 0 auto;
}
.title{
    border: 5px dotted blue;
    padding: 5px;
}
input[type=button]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
input[type=text]{
    margin: 4px 2px;
    padding: 8px 16px;
}